<!-- views/write.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기</title>
    <link rel="stylesheet" href="/styles2.css">
</head>
<body>
    <section class="notice">
        <div class="page-title">
            <div class="container">
                <h3>글쓰기</h3>
            </div>
        </div>

        <div id="board-write">
            <div class="container">
                <!-- 글쓰기 폼 -->
                <form action="/moment" method="POST">
                    <div class="write-wrap">
                        <label for="title" class="blind">제목</label>
                        <input id="title" type="text" name="title" placeholder="제목을 입력해주세요." required>
                        
                        <label for="content" class="blind">내용</label>
                        <textarea  class="aaa" id="content" name="content" placeholder="내용을 입력해주세요." required></textarea>
                        
                        <button type="" class="btn btn-dark">작성 완료</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>
