.canvas {
  width: 700px;
  height: 700px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 8px 8px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.068);
}

.controls__colors .controls__color {
  float: left;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
